
    <!-- Village Comparison Chart -->
    <div class="col-xl-12 col-lg-12 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-body p-0">
          <div class="village-comparison">
            <div class="frame-1000003079">
              <div class="frame-1000003078">
                <div class="title">Village Comparison</div>
                <div class="button">
                  <div class="bar_chart">
                    <div class="vector"></div>
                  </div>
                </div>
              </div>
              
              <div class="frame-1000003077">
                <!-- Bar 1 -->
                <div class="frame-1000003068">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394"></div>
                    <div class="rectangle-1395"></div>
                    <div class="rectangle-1396"></div>
                  </div>
                  <div class="title">Mbale</div>
                </div>
                
                <!-- Bar 2 -->
                <div class="frame-1000003069">
                  <div class="frame-1000003067">
                    <div class="rectangle-1394"></div>
                    <div class="rectangle-1395" style="height: 52px;"></div>
                    <div class="rectangle-1396" style="height: 36px;"></div>
                  </div>
                  <div class="title">Kamau</div>
                </div>
                
                <!-- Bar 3 -->
                <div class="frame-1000003070">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394" style="height: 54px;"></div>
                    <div class="rectangle-1395" style="height: 52px;"></div>
                    <div class="rectangle-1396" style="height: 40px;"></div>
                  </div>
                  <div class="title">Kisumu</div>
                </div>
                
                <!-- Bar 4 -->
                <div class="frame-1000003071">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394"></div>
                    <div class="rectangle-1395"></div>
                    <div class="rectangle-1396"></div>
                  </div>
                  <div class="title">Nakuru</div>
                </div>
                
                <!-- Bar 5 -->
                <div class="frame-1000003072">
                  <div class="frame-1000003069-inner">
                    <div class="rectangle-1394" style="height: 54px;"></div>
                    <div class="rectangle-1395" style="height: 52px;"></div>
                    <div class="rectangle-1396" style="height: 40px;"></div>
                  </div>
                  <div class="title">Eldoret</div>
                </div>
                
                <!-- Bar 6 -->
                <div class="frame-1000003073">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394" style="height: 50px;"></div>
                    <div class="rectangle-1395"></div>
                    <div class="rectangle-1396"></div>
                  </div>
                  <div class="title">Signor</div>
                </div>
                
                <!-- Bar 7 -->
                <div class="frame-1000003074">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394"></div>
                    <div class="rectangle-1395"></div>
                    <div class="rectangle-1396"></div>
                  </div>
                  <div class="title">Rain</div>
                </div>
                
                <!-- Bar 8 -->
                <div class="frame-1000003075">
                  <div class="frame-1000003069-inner">
                    <div class="rectangle-1394" style="height: 50px;"></div>
                    <div class="rectangle-1395"></div>
                    <div class="rectangle-1396"></div>
                  </div>
                  <div class="title">Kismul</div>
                </div>
                
                <!-- Bar 9 -->
                <div class="frame-1000003076">
                  <div class="frame-1000003068-inner">
                    <div class="rectangle-1394" style="height: 46px;"></div>
                    <div class="rectangle-1395" style="height: 33px;"></div>
                    <div class="rectangle-1396" style="height: 51px;"></div>
                  </div>
                  <div class="title">Mbaret</div>
                </div>
                
                <!-- Legend -->
                <div class="village-comparison-legend">
                  <div class="consumption">
                    <div class="rectangle-1394 legend-color"></div>
                    <div class="title">Consumption</div>
                  </div>
                  <div class="generation">
                    <div class="rectangle-1395 legend-color"></div>
                    <div class="title">Generation</div>
                  </div>
                  <div class="storage">
                    <div class="rectangle-1396 legend-color"></div>
                    <div class="title">Storage</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
